body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.heading {
  text-transform: uppercase;
}

.container {
  max-width: 100vw;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.post-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.post-card:hover {
  transform: scale(1.02);
}

.post-card header h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.post-card section p {
  font-size: 0.95rem;
  color: #666;
  margin: 10px 0;
}

.post-stats {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #444;
  margin-top: 10px;
}

.error {
  color: red;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.btn {
  background-color: #dad0d0;
  border: none;
  padding: 8px;
  border-radius: 50px;
}

.active {
  background-color: blue;
  color: white;
  padding: 8px;
  border-radius: 50%;
  border: none;
  transform: scale(1.1);
}


.liked {
  background-color: #4caf50;
  color: white;
}

.disliked {
  background-color: #f44336;
  color: white;
}